$bg-colour: #fff2e2;
$alt-bg: #d4e5d7;
$bg-light: #fff7e9;
$table-bg: #fefefe;
$text-default: #361102;
$text-link: #232834;
$button-link: #364a55;
$phi: 1.6180339887498948482;
$breakpoint: 40rem;

::selection {
    color: $bg-colour;
    background-color: $text-default;
}

html,
body {
    font-size: 20px;
    background: #220a00;
    color: $bg-colour;
}
@media (prefers-color-scheme: light) {
  html,
    body {
        font-size: 20px;
        background: $bg-colour;
        color: $text-default;
    }
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    details & {
        display: inline-block;
        margin-bottom: 0;;
    }
}

h2 {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

h3 {
    margin-top: 3rem;
    margin-bottom: 1rem;

    hr+& {
        margin-top: 1rem;
    }
}

h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

hr {
    margin: 2.25rem auto;
    border-top: 0;
    border-right: 0;
    border-bottom: .75rem solid $bg-colour;
    border-left: 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
@media (prefers-color-scheme: light) {
  hr {
        border-bottom: 1px solid $text-default;
    }
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 1.05rem;
}

@media screen and (min-width: 40em) {
    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1.15rem;
    }
    h6 {
        font-size: 1.1rem;
    }
}

a {
    color: $bg-colour;
    overflow-wrap: break-word;
    text-decoration: underline;
    text-underline-offset: 2px;
    &:hover {
        color: lighten($bg-colour, 15%);
    }
}
@media (prefers-color-scheme: light) {
  a {
        color: $text-default;
    }
}

.col {
    max-width: unquote("min(45.4rem,64ch)");
    padding: 0 2ch;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .col {
        padding-left: 4ch;
        padding-right: 4ch;
    }
}


figure {
    margin: 2rem 0;
    & img {
        width: 100%;
    }
    & img + figcaption {
        margin-top: .5rem;
        margin-bottom: 1rem;
    }
}

figcaption {
    font-size: .8em;
    font-style: italic;
    margin: .5rem 0;
    text-align: center;
    & em {
        font-style: normal;
    }
}

ol ol li {
    list-style-type: lower-alpha;
}

ul ul li {
    list-style-type: circle;
}

ul ul ul li {
    list-style-type: square;
    font-size: .85rem;
}

.body-spacer {
    margin-top: 10rem;
    &--small {
        margin-top: 4rem;
    }
}

section[id] {
    margin-top: -4rem;
    padding-top: 4rem;
}
section[id]>h2 {
    margin-top: 4rem;
}
section[id]>h3 {
    margin-top: 3rem;
}

section[id]>h4, section[id]>h5 {
    margin-top: 2rem;
}

@media (min-width: $breakpoint) {
    h2:not(.title) {
        text-decoration: underline;
    }
}

.slide-only {
    display: none;
}

.show-for-sr {
    font-size: 0;
}

@media print {
    span[role=img][aria-label]::after {
        content: " ("attr(aria-label) ") ";
    }
}

.toc {
    margin-top: 2rem;
    margin-bottom: 6rem;
    & > li {
        list-style: none;
        margin-top: 1rem;
        font-size: 1.25rem;
        text-underline-offset: .1rem;
        & li {
            font-size: 1rem;
        }
    }
}

.further-reading {
    font-size: .85rem;
    background: $bg-light;
    border-color: rgba(10, 10, 10, .25);
    border-style: solid;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 2px;
    border-left-width: .5rem;
    padding: 1rem;
    & ul {
        margin-bottom: 0;
    }
}

.two-up {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 680px) {
    .two-up {
        flex-direction: row;
        &__text {
            margin-left: 2rem;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    & > img {
        max-width: 100%;
        max-width: calc(100% + 4ch);
        border-bottom: .75rem solid $bg-colour;
    }
}

@media (prefers-color-scheme: light) {
  .header > img {
        border-bottom: 1px solid $text-default;
    }
}

main .col img {
    max-width: 100%;
}