<article class="page-list">
	<h2 class="page-list__heading{{ if ne .Type "posts" }} page-list__heading--not-post{{ end }}"><a href='{{ cond (.Date.After now) "#" .Permalink }}' class="page-list__link" aria-disabled='{{ cond (.Date.After now) "true" "false" }}'>{{ .Title }}</a></h2>
	{{ if isset .Params "featured_image" }}
		<img src="/images/{{ .Params.featured_image }}" class="post-image" alt='{{ if isset .Params "featured_image_alt" }}{{ .Params.feature_image_alt }}{{ else }}{{ end }}'>
	{{ end }}
	<div class="page-list__summary{{ if ne .Type "posts" }} page-list__summary--not-post{{ end }}">
		{{ if .Date.After now }}
			<div class="page-list__notification"><small><em>Notes & slides are published the Monday before class.</em></small></div>
		{{ end }}
		{{ .Summary }}
		{{ if .Truncated }}
			<a href='{{ cond (.Date.After now) "#" .Permalink }}' aria-disabled='{{ cond (.Date.After now) "true" "false" }}'>Read more about {{ lower .Title }} ...</a>
		{{ end }}
	</div>
	<div class="page-list__links">
	{{ if eq .Type "posts" }}
		<a href='{{ cond (.Date.After now) "#" .Permalink }}' class='button small page-list__link {{ cond (.Date.After now) "disabled" "" }}' aria-disabled='{{ cond (.Date.After now) "true" "false" }}'>Notes</a>
		<a href='{{ cond (.Date.After now) "#" (printf "/slides%s" .RelPermalink) }}' class='button small page-list__link {{ cond (.Date.After now) "disabled" "" }}' aria-disabled='{{ cond (.Date.After now) "true" "false" }}'>Slides</a>
		{{ if isset .Params "exercise" }}
			<a href='{{ cond (.Date.After now) "#" (printf "/labs/%s" .Params.exercise ) }}' class='button small page-list__link {{ cond (.Date.After now) "disabled" "" }}' aria-disabled='{{ cond (.Date.After now) "true" "false" }}'>Lab</a>
		{{ end }}
		{{ if isset .Params "assignment" }}
			<a href='{{ cond (.Date.After now) "#" (printf "/assignments/%s" .Params.assignment ) }}' class='button small page-list__link {{ cond (.Date.After now) "disabled" "" }}' aria-disabled='{{ cond (.Date.After now) "true" "false" }}'>Assignment</a>
		{{ end }}
		{{ if (isset .Params "button") }}
 		<a href='{{ cond (.Date.After now) "#" (printf .Params.button.href) }}' class='button small page-list__link {{ cond (.Date.After now) "disabled" "" }}' aria-disabled='{{ cond (.Date.After now) "true" "false" }}'>{{ .Params.button.title }}</a>
		{{ end }}
	{{ else if (isset .Params "button") }}
		<a href='{{ cond (.Date.After now) "#" .Permalink }}' class='button small page-list__link {{ cond (.Date.After now) "disabled" "" }}' aria-disabled='{{ cond (.Date.After now) "true" "false" }}'>{{ .Params.button }}</a>
	{{ else }}
		<a href='{{ cond (.Date.After now) "#" .Permalink }}' class='button small page-list__link {{ cond (.Date.After now) "disabled" "" }}' aria-disabled='{{ cond (.Date.After now) "true" "false" }}'>{{ .Title }}</a>
	{{ end }}
	</div>
</article>
